/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/proteinfold Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

executor {
    name  = 'local'
    //gpus  = 1   
    cpus = 30     
}




process {

    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and reuse the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 16    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel:process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
        containerOptions = { workflow.profile.contains('gpu') ? '--gpus all' : '' }
        maxForks = 1
        beforeScript = '''
            # Espera hasta que la GPU esté libre (lockfile)
            LOCKFILE=/tmp/nextflow_gpu.lock
            while ! mkdir "${LOCKFILE}" 2>/dev/null; do
                echo "[GPU LOCK] Waiting for GPU to be free..."
                sleep 30
            done
            echo "[GPU LOCK] Acquired GPU lock"
        '''
        afterScript = '''
            # Libera la GPU al terminar
            rmdir /tmp/nextflow_gpu.lock 2>/dev/null || true
            echo "[GPU LOCK] Released GPU lock"
        '''
    }
     withName: '.*ARIA2.*' {
        ext.args = '--all-proxy=http://10.15.206.126:3128'
    }
    withName: '.*GUNZIP.*|.*UNTAR.*' {
        ext.args = ''  // asegura que gunzip/untar no heredan el proxy
    }
    withName: '.*ZSTD.*' {
    ext.args = ''
    }

    withName: RUN_HADDOCK3 {
        containerOptions = '--entrypoint ""'
    }


    

}
