/*  conf/modules_antibody.config  v4  */

process {

    withName: 'RUN_RFANTIBODY' {
        containerOptions = '-v /mnt/alphafold3_db:/mnt/alphafold3_db --entrypoint ""'
        memory           = 32.GB
        if (params.use_gpu) { accelerator = 1 }
        publishDir = [
            path: { "${params.outdir}/antibody_design/${meta.id}/01_rfdiffusion/" },
            mode: 'copy', pattern: '*.qv'
        ]
        ext.args = params.ab_rfdiff_args ?: ''
    }

    withName: 'RUN_PROTEINMPNN_RFAB' {
        containerOptions = '-v /mnt/alphafold3_db:/mnt/alphafold3_db --entrypoint ""'
        memory           = 16.GB
        publishDir = [
            path: { "${params.outdir}/antibody_design/${meta.id}/02_proteinmpnn/" },
            mode: 'copy', pattern: '*.qv'
        ]
        ext.args = params.ab_mpnn_args ?: ''
    }

    withName: 'AB_QV_TO_AF3_JSON' {
        containerOptions = '-v /mnt/alphafold3_db:/mnt/alphafold3_db --entrypoint ""'
        publishDir = [
            path: { "${params.outdir}/antibody_design/${meta.id}/03_af3_inputs/" },
            mode: 'copy', pattern: 'af3_inputs/*.json'
        ]
    }

    withName: 'RUN_ESMFOLD2_AB' {
        containerOptions = '-v /mnt:/mnt --entrypoint ""'
        memory           = 14.GB
        if (params.use_gpu) { accelerator = 1 }
        publishDir = [
            [
                path: { "${params.outdir}/antibody_design/04_esmfold2/${meta.id}/" },
                mode: 'copy', pattern: '*_esm2_metrics.tsv'
            ],
            [
                path: { "${params.outdir}/antibody_design/04_esmfold2/${meta.id}/" },
                mode: 'copy', pattern: '*_esm2_pred.cif'
            ]
        ]
    }

    withName: 'FILTER_RANK_AB' {
        publishDir = [
            path: { "${params.outdir}/antibody_design/rankings/" },
            mode: 'copy', pattern: '*_ranked.tsv'
        ]
    }

    withName: 'ANTIBODY_DESIGN:RUN_ALPHAFOLD3' {
        containerOptions = '-v /mnt/alphafold3_db:/mnt/alphafold3_db'
        if (params.use_gpu) { accelerator = 1 }
        publishDir = [
            [
                path: { "${params.outdir}/antibody_design/05_af3/${meta.id}/" },
                mode: 'copy', pattern: '*_iptm.tsv'
            ],
            [
                path: { "${params.outdir}/antibody_design/05_af3/${meta.id}/" },
                mode: 'copy', pattern: '*_alphafold3.cif'
            ]
        ]
        ext.args = params.ab_af3_args ?: ''
    }

    withName: 'EXTRACT_PDB_FROM_QV' {
    containerOptions = '-v /mnt:/mnt --entrypoint ""'
    }

    withName: 'EXTRACT_AF3_AB_METRICS' {
        publishDir = [
            path: { "${params.outdir}/antibody_design/05_af3/${meta.id}/" },
            mode: 'copy', pattern: '*_af3_metrics.tsv'
        ]
    }

    withName: 'GENERATE_AB_HADDOCK_AIRS' {
        containerOptions = '-v /mnt/alphafold3_db:/mnt/alphafold3_db'
        publishDir = [
            path: { "${params.outdir}/antibody_design/06_haddock3/${meta.id}/" },
            mode: 'copy', pattern: '*.tbl'
        ]
    }

    withName: 'ANTIBODY_DESIGN:RUN_HADDOCK3' {
        publishDir = [
            path: { "${params.outdir}/antibody_design/06_haddock3/${meta.id}/" },
            mode: 'copy', pattern: '*.tsv'
        ]
        ext.args = params.ab_haddock_args ?: ''
    }

    withName: 'EXTRACT_HADDOCK3_AB_METRICS' {
        publishDir = [
            path: { "${params.outdir}/antibody_design/06_haddock3/${meta.id}/" },
            mode: 'copy', pattern: '*_haddock_metrics.tsv'
        ]
    }
}