/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for Chai-1 process options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'DOWNLOAD_CHAI1_WEIGHTS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'RUN_CHAI1' {
        if (params.use_gpu) {
            accelerator = 1
        }
        publishDir = [
            [
                path: { "${params.outdir}/chai1/${meta.id}" },
                mode: 'copy',
                pattern: '*_plddt.tsv'
            ],
            [
                path: { "${params.outdir}/chai1/${meta.id}" },
                mode: 'copy',
                pattern: '*_{ptm,iptm}.tsv'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/chai1/${meta.id}/raw" },
                mode: 'copy',
                pattern: 'raw/**',
                saveAs: { filename -> filename.toString().replaceFirst(/^raw\//, '') }
            ],
            [
                path: { "${params.outdir}/chai1/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.cif" },
                pattern: '*_chai1.cif'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:CHAI1:MMCIF2PDB_TOP_RANKED' {
        publishDir = [
            [
                path: { "${params.outdir}/chai1/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*.pdb'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:CHAI1:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "chai1_$filename" }
        ]
    }
}
